@font-face {
  font-family: "LeeSeoyun";
  src:
    local("LeeSeoyun"),
    local("Lee Seoyun"),
    url("./fonts/LeeSeoyun.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
